
.navbar{
    width: calc(100vw - 18px);
    height: 62px;
    display: flex;
    transition: all .4s ease-in;
    justify-content: center;
}
.navbar_container{
    width: calc(100vw - 24px);
    background-color: #fff;
    box-shadow: 4px 2px 12px rgb(50, 110, 110);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.navbar_btn_wrap{
    position: absolute;
    left: 12px;
    top: 18px;
}
.navbar_btn{
    font-size: 24px;
    color: #fff;
    display: none;
    cursor: pointer;
}
.menu{
}
.menu_ul{
    display: flex;  
    @media screen and (max-width: 840px) {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(5, 1fr);
    }
}
.menu_li{
    list-style: none;
    margin: 12px;
    padding: 7px 28px;
    background-color: rgb(36, 110, 128);
    border-radius: 4px;
    box-shadow: 2px 3px 8px rgb(66, 174, 207);
    border:1px solid rgb(84, 168, 194);
    cursor: pointer;
}
.menu_link{
    color: #fff;
    text-decoration: none;
}
.show{
    height: auto;
}
.close{
    height: 62px;
}

